header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.dsmovie-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

}

.dsmovie-nav-content h1 {

  font-size: 24px;
  font-weight: 700;
}

.dsmovie-nav-content h1:hover {
  color: #D9415D;
}

.dsmovie-icon {
  display: flex;
}


.dsmovie-contact-link {
  margin: 0 0 0 10px;
}

.icon:hover {
  color: #025939;

}